@import url('https://corellanstoma.github.io/Friends-Grid/src/source.css');
@import './style.scss';
:root {
	--FG-cards-radius: 8px;
	--FG-cards-height: 180px;
	--FG-cards-margin-bottom: 26px;
	--FG-cards-banner-background: var(--brand-experiment);
	--FG-cards-border-width: 1px;

	--FG-cards-username-opacity-normal: 1;
	--FG-cards-username-opacity-hover: 1;
	--FG-cards-discriminator-opacity-normal: 1;
	--FG-cards-discriminator-opacity-hover: 1;
	--FG-cards-status-opacity-normal: 1;
	--FG-cards-status-opacity-hover: 1;

	--FG-cards-button-opacity-normal: 0;
	--FG-cards-button-opacity-hover: 1;

	--FG-mutal-guilds-normal: 0;
	--FG-mutal-guilds-hover: 1;
}

.theme-dark {
	--FG-cards-background-normal: var(--background-secondary);
	--FG-cards-background-hover: var(--activity-card-background);
	--FG-cards-border-color: var(--background-modifier-accent);

	--FG-cards-username-normal: var(--header-primary);
	--FG-cards-username-hover: var(--header-primary);
	--FG-cards-discriminator-normal: var(--header-secondary);
	--FG-cards-discriminator-hover: var(--header-secondary);
	--FG-cards-status-normal: var(--header-secondary);
	--FG-cards-status-hover: var(--header-secondary);

	--FG-cards-button-icon-normal: var(--interactive-active);
	--FG-cards-button-icon-hover: var(--activity-card-background);
	--FG-cards-button-background-normal: rgba(0, 0, 0, 0.3);
	--FG-cards-button-background-hover: rgba(0, 0, 0, 0.6);
}

.theme-light {
	--FG-cards-background-normal: var(--background-secondary);
	--FG-cards-background-hover: var(--activity-card-background);
	--FG-cards-border-color: var(--background-modifier-accent);

	--FG-cards-username-normal: var(--header-primary);
	--FG-cards-username-hover: var(--header-primary);
	--FG-cards-discriminator-normal: var(--header-secondary);
	--FG-cards-discriminator-hover: var(--header-secondary);
	--FG-cards-status-normal: var(--header-secondary);
	--FG-cards-status-hover: var(--header-secondary);

	--FG-cards-button-icon-normal: var(--interactive-active);
	--FG-cards-button-icon-hover: var(--activity-card-background);

	--FG-button-normal: rgba(255, 255, 255, 0.3);
	--FG-button-hover: rgba(255, 255, 255, 0.6);
}

.bfl-headerTitle {
	top: -25px;
}
