.bfl-title {
	padding-right: 30px;
	text-align: center;
}

.bfl-mutualGuilds {
	position: inherit;
	.icon-3o6xvg {
		border-radius: 12px;
	}
}

.bfl-header {
	border-left: 1px solid var(--background-modifier-accent);
	box-sizing: border-box;
	padding: 0 12px;
}

.bfl-container {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	color: var(--channels-default);
}

.headerCellContent-1pLtOr {
	margin: auto;
}

.bfl-headerTitle {
	position: absolute;
	top: 10px;
}

.bfl-container {
	padding: 0 0 12px 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.bfl-nameCell {
	width: 100px;
}

.clickable-VxMZ3b {
	transition: 100ms ease;
}

.expanded.clickable-VxMZ3b {
	transform: rotate(0deg);
}

.collapsed.clickable-VxMZ3b {
	transform: rotate(90deg);
}

@media screen and (max-width: 776px) {
	.peopleList-3c4jOR {
		padding-top: 80px;
	}
}
@media screen and (max-width: 1135px) {
	.peopleList-3c4jOR {
		padding-top: 65px;
	}
}
@media screen and (min-width: 1135px) {
	.peopleList-3c4jOR {
		padding-top: 50px;
	}

	.bfl-headerTitle {
		width: calc(100%);
		.flexChild-faoVW3 {
			max-width: 300px;
		}
	}
}
.peopleList-3c4jOR .bfl-headerTitle > div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
